{% extends 'base.html' %}

{% block title %}
  {{ bbs.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'bbs:index' %}">BBS</a></li>
  <li class="breadcrumb-item active">{{ bbs.name }}</li>
{% endblock %}

{% block content %}
  <div class="mb-4">
    <a href="{% url 'bbs:new_thread' bbs.pk %}" class="btn btn-primary">New Thread</a>
  </div>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Thread Name</th>
        <th>Starter</th>
        <th>Replies</th>
        <th>Views</th>
        <th>Last Update</th>
      </tr>
    </thead>
    <tbody>
      {% for thread in bbs.thread.all %}
        <tr>
          <td>{{ thread.name }}</td>
          <td>{{ thread.starter.username }}</td>
          <td>0</td>
          <td>0</td>
          <td>{{ thread.last_updated }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
